{% extends "base.html" %}

{% block content %}<h1>Drivers</h1>

  <table class="table" style="max-width: 1000px">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">License number</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      {% for driver in driver_list %}
        <th scope="row">
          <a href="/drivers/{{ driver.pk }}">{{ driver.username }}</a>
        </th>
        <td>{{ driver.license_number }}</td>
        <td>{{ driver.first_name }}</td>
        <td>{{ driver.last_name }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

